@media (max-width: 1050px){
    .information-div{
        max-width: 360px;
        width: 45%;
        margin: 8px auto 8px auto;

    }
    .section2-bottom-div{
        display: flex;
        flex-wrap: wrap;
    }
    .information-div-text{
        width: 320px;
    }
    .information-div-title{
        width: 200px;
    }
    .section2-top-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }
    .section2-top-div > p:nth-child(2){
       margin-right: 200px;
        margin-top: 10px;
    }
    .section2-top-div > p:nth-child(1){
        margin-top: 41px;
    }
    .section-div{
        margin-left: 5px;
    }
}
@media (max-width: 1010px) {
    .section1-right-div >div:nth-child(2){
        display: none;
    }
    .section1-right-div >div:nth-child(1){
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .images{
        margin-bottom: 10px;
    }

}